@using FagkveldOktober
@model FagkveldOktober.Models.CartViewModel
<div class="page-header">
    <h2>Cart</h2>
</div>

<div ng-show="content">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="book in content">
            <td>{{book.title}}</td>
            <td>{{book.quantity}}</td>
            <td>{{book.sumTotalInOere}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align: right">Total:</td>
            <td>{{sumTotalInOere}}</td>
        </tr>
    </table>

    @Html.ActionLink("Confirm", "Checkout", "Cart", new { @class = "btn btn-default btn-success" })
</div>
<div ng-hide="content">Your cart is empty</div>

@section AdditionalScripts
{
    <script type="text/javascript">
        window.bookStoreData = @Html.Serialize(Model);
    </script>
}

