<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <!--<UnicastBusConfig 
    ForwardReceivedMessagesTo="The address to which messages received will be forwarded."
    DistributorControlAddress="The address for sending control messages to the distributor."
    DistributorDataAddress="The distributor's data address, used as the return address of messages sent by this endpoint."
    TimeToBeReceivedOnForwardedMessages="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"
    TimeoutManagerAddress="The address that the timeout manager will use to send and receive messages." >
    <MessageEndpointMappings>
      To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />
      
      To register all message types defined in an assembly with a specific namespace (it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />
      
      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Assembly="Sales.Contracts" Endpoint="servicehost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <connectionStrings>
    <add name="SalesDb" connectionString="Server=local;Database=Sales;Integrated Security=true;" />
    <add name="BooksRegistry" connectionString="Url=http://localhost:8080;Database=BooksRegistry" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Sales.WCF.SalesService">
        <endpoint binding="netTcpBinding" contract="Sales.Contracts.ISalesService" address="net.tcp://localhost:9252/sales" />
        <endpoint binding="basicHttpBinding" contract="Sales.Contracts.ISalesService" address="http://localhost:9101/sales" />
      </service>
      <service name="Marketing.WCF.MarketingService">
        <endpoint binding="netTcpBinding" contract="Marketing.Contracts.IMarketingService" address="net.tcp://localhost:9253/marketing" />
        <endpoint binding="basicHttpBinding" contract="Marketing.Contracts.IMarketingService" address="http://localhost:9101/marketing" />
      </service>
      <service name="BooksRegistry.WCF.BooksRegistryService">
        <endpoint binding="netTcpBinding" contract="BooksRegistry.Contracts.IBooksRegistryService" address="net.tcp://localhost:9254/registry" />
        <endpoint binding="basicHttpBinding" contract="BooksRegistry.Contracts.IBooksRegistryService" address="http://localhost:9101/registry" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\wcf.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>