@using FagkveldOktober
@model FagkveldOktober.Models.HomeIndexViewModel
<div class="page-header">
    <h2>Available for sale</h2>
</div>
<div class="row">
    <div class="col-lg-4" ng-repeat="book in booksAvailableForSale">
        <div class="panel media panel-default">
            <a class="panel-body" href="{{book.url}}">
                <span class="pull-left">
                    <img height="150" width="100" ng-src="/Content/images/{{book.coverFilename}}" />
                </span>
                <div class="media-body">
                    <p>{{book.title}}</p>
                    <p>{{book.author}}</p>
                    <p>{{book.priceInOere}}</p>
                </div>
            </a>
        </div>
    </div>


</div>
@section AdditionalScripts
{
    <script>
        window.bookStoreData = @Html.Serialize(Model);
    </script>
}
