<!DOCTYPE html>
<html ng-app="BookstoreApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Book Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/scripts")
</head>
<body ng-controller="StoreCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Book Store</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-show="getCartItemCount()" href="#/Cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Checkout ({{getCartItemCount()}} items)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view></div>
    </div>   
</body>
</html>